@page
@model ZooBazzarWebApp.Pages.BuyTicketModel
@{
}
@using Entities;


<form method="post">


    <div class="buyTicket">

        <label> Ticket type:</label>
        <select asp-for="Ticket.Type" name="list" onChange="combo(this, 'box)">
            <option>@TypeOfTicket.adult</option>
            <option>@TypeOfTicket.child</option>
        </select>

        <label> Date (Optional) : </label> <span asp-validation-for="Ticket.Date"></span>
        <input asp-for="Ticket.Date" id="date">
        <input type="submit" value="Buy Ticket" />



    </div>

</form>

@section scripts{
<partial name="_ValidationScriptsPartial" />
}