@page
@model ZooBazzarWebApp.Pages.BuyTicketModel
@{
    Layout = "MyLayout";
}
@using Entities;

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<form method="post">


    <div class="buyTicket">

        <labe class="type"> Ticket type:</labe>
        <select class="details" asp-for="Ticket.Type" name="type" onChange="combo(this, 'box)">
            <option>@TypeOfTicket.adult</option>
            <option>@TypeOfTicket.child</option>
        </select>

        <label class="type"> Date (Optional) : </label> <span asp-validation-for="Ticket.Date"></span>
        <input class="details" asp-for="Ticket.Date" id="date" name="date">
        @if (!User.IsInRole("Customer"))
        {
            <label> Name:</label> <span asp-validation-for="Customer.Name"></span>
            <input class="details" asp-for="Customer.Name" id="name" name="name">
            <label> Email:</label> <span asp-validation-for="Customer.Email"></span>
            <input class="details" asp-for="Customer.Email" id="email" name="email">
            <button class="btn btn-default" asp-page-handler="NoAccount">Buy Ticket Anonymously</button>
        }
        else
        {
             <button class="btn btn-default" asp-page-handler="WithAccount">Buy Ticket</button>
        }
       


    </div>

</form>

@section scripts{
<partial name="_ValidationScriptsPartial" />
}