@page
@model ZooBazzarWebApp.Pages.ChangeCredentialsModel
@{
        Employee e = Model.employee;
}
@using Entities;

<form method="post">


    <div class="changeCredentials">
        <label> Name:</label> <span asp-validation-for="Employee.Name" ></span>
        <input asp-for="Employee.Name" id="name" value=@e.Name >
        <label> Surname:</label> <span asp-validation-for="Employee.Lastname"></span>
        <input asp-for="Employee.Lastname" id="surname" value=@e.Lastname>
        <label> Email:</label> <span asp-validation-for="Employee.Email"></span>
        <input asp-for="Employee.Email" id="email" value=@e.Email>
        <label> Adress:</label> <span asp-validation-for="Employee.Address"></span>
        <input asp-for="Employee.Address" id="adress" value=@e.Address>
        <label> Birth Date:</label> <span asp-validation-for="Employee.Birthdate"></span>
        <input asp-for="Employee.Birthdate" id="birthdate" type="datetime-local" value=@e.Birthdate >
        <label> BSN:</label> <span asp-validation-for="Employee.Bsn"></span>
        <input asp-for="Employee.Bsn" id="bsn" value=@e.Bsn>
        <label> Phone:</label> <span asp-validation-for="Employee.Phone"></span>
        <input asp-for="Employee.Phone" id="phone" value=@e.Phone>
        <label> EmargencyContact:</label> <span asp-validation-for="Employee.EmargencyContact"></span>
        <input asp-for="Employee.EmargencyContact" id="EmargencyContact" value=@e.EmargencyContact>
         <input type="submit" value="Request Changes" />


    </div>

</form>

@section scripts{
<partial name="_ValidationScriptsPartial" />
}