@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Entities;

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    @foreach(ZooDescription zooDescription in Model.zm.GetDescriptions())
    {
        if (zooDescription.IsActive == true)
        {
            <p>@zooDescription.Description</p>
        }
    }
</div>
