@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome </h1>
    <p>ZooBazzar content bla bla.</p>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}