@page
@model ZooBazzarWebApp.Pages.MyTicketsModel
@{
    Image img = Model.img;
    TicketManager tm = Model.tm;
    CustomerManager cm = Model.cm;
}
@using Zen;
@using LogicLayer;
@using Entities;
@using System.Security.Claims;


@foreach (Ticket t in tm.GetTickets(cm.GetCustomerByEmail(User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email).Value)))
{
    <div class="ticket">
        <img src=@Model.ConvertImageToUrl(t.Id) alt="Barcode" />
        <p>@t.Customer.Email</p>
        <p>@t.TypeOfTicket</p>
    </div>
}