html {
  font-size: 14px;
}

.schedule-card {
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
}
 .schedule-card .information {
        
     margin-left: 10px; 
}
    .schedule-card .information .color {
        background-color: #3c9017;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

table, td {
    border: 1px solid;
    min-width: 150px;
    width: auto;
    height: 50px;
    align-content: center;
    font-size: 25px;
    background-color: rgba(183, 199, 181, 0.56);
    margin: auto;
}

.button{
    min-width: 150px;
    width: auto;
    height: 50px;
    border: none;
    background-color: transparent;
}

.free {
    background-color: rgba(82, 89, 81, 0.62);
}


.shift:hover {
    background-color: #919191;
}

h1{
    text-align: center;
}

.info{
    
}